.project {
  width: 100%;
  height: 200px;
  position: relative;
  transition: all 0.2s linear;
}
.project img {
  width: 100%;
  height: 200px;
  transition: all 0.2s linear;
  object-fit: cover;
  border-radius: 5px;
}
.actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  cursor: pointer;
}
.actions i {
  font-size: 1.5rem;
}

.project:hover {
  transform: scale(1.01);
}
.project:hover img {
  filter: blur(2px);
}
.project:hover .actions {
  opacity: 1 !important;
}
