.imageContainer {
  width: 100%;
}
.imageContainer img {
  width: 100%;
  object-fit: contain;
  z-index: 2;
}
.section h3 {
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 20px;
}
.section h3::after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 1px solid var(--clr-grey-1);
  bottom: -10px;
  left: 0;
  width: 96%;
}
