.header {
  background-color: var(--bg-header);
}
.myImage img {
  max-width: 350px;
}
.btnHire {
  background-color: var(--clr-green-3) !important;
  border: none !important;
  box-shadow: 0 0.5rem 5rem 1rem var(--clr-green-shadow-1);
}
.btnResume {
  background-color: var(--text-primary-yellow) !important;
  border: none !important;
  box-shadow: 0 0.5rem 5rem 1rem var(--clr-orange-shadow);
}
.btnHire:hover,
.btnHire:focus,
.btnHire:active {
  box-shadow: 0 1rem 5rem 2rem var(--clr-green-shadow-1);
}
.btnResume:hover,
.btnResume:focus,
.btnResume:active {
  box-shadow: 0 1rem 5rem 2rem var(--clr-orange-shadow);
}
.links {
  display: flex;
  gap: 15px;
}
.links a {
  color: white;
  font-size: 1.2rem;
  transition: all 0.2s linear;
  opacity: 0.5;
}
.links a:hover {
  opacity: 1;
}
