@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --bg-header: #03554d;
  --bg-primary-color: #fbf3e4;
  --bg-secondary-color: #f7f7f7;
  --bg-tertiary-color: #fbf3e4;
  --text-primary-yellow: #fca738;
  --text-heading: var(--bg-header);
  --clr-orange: #fca738;
  --clr-orange-shadow: #f57f1769;
  --clr-green-1: #105652;
  --clr-green-2: #09bcab;
  --clr-green-3: #09bead;
  --clr-green-shadow-1: #0bbead69;
  --clr-grey-1: #c2c2c2;
  --clr-grey-2: #4f4f53;
  --clr-grey-3: #858585;
  --clr-black-1: #373742;
  --clr-black-2: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-primary-color {
  background-color: var(--bg-primary-color);
}
.bg-secondary-color {
  background-color: var(--bg-secondary-color);
}
.bg-tertiary-color {
  background-color: var(--bg-tertiary-color);
}
.text-primary-yellow {
  color: var(--text-primary-yellow);
}
.text-heading {
  color: var(--text-heading);
  font-weight: bold;
}
.text-green-1 {
  color: var(--clr-green-1);
}
.text-black-clr {
  color: var(--clr-black-2);
}
